.Card {
  background-color: lightgrey;
  font-size: 12px;
  padding: 20px;
  margin-bottom: 10px;
}

.Card-grey {
  background-color: rgba(167, 158, 158, 0.671);
  color: black;
}

.Card-blue {
  background-color: skyblue;
  color: black;
}

.Card-green {
  background-color: rgb(150, 190, 150);
  color: black;
}

.Card-title {
  font-weight: bold;
}

.card {
  background-color: #f2f2f2;
  border: 1px solid #ddd;
  padding: 5px;
  margin-bottom: 5px;
  cursor: grab;
}

.card.dragging {
  opacity: 0.5;
}

.card.changed {
  background-color: rgb(5, 75, 5);
}

